<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>旅行</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body style="background-color:white;color:black;margin: 0px">
    <div style="background-color:#eee;">
        <header style="background-color:#dedede;width:100%;display: flex;">
            <a href="/top"
                style="min-width: 120px;max-height: 120px;margin-left: 16px;margin-right:16px;align-self: stretch;display: flex;font-size:72px"><img
                    src="images/logo.jpg" width="120px"
                    height="auto" /></a>
            <a href="/live"
                style="white-space : nowrap;color:black;text-decoration:none;padding-left: 16px;padding-right:16px;padding-top:16px;font-size: 40px;">暮らし</a>
            <div style="padding-left:16px;padding-right:16px;padding-top:16px;background-color:#bbb;padding-top:16px;">
                <a href="/travel" style="white-space : nowrap;color:black;text-decoration:none;font-size: 40px;">旅行</a>
            </div>
            <a href="/otoi"
                style="white-space : nowrap;color:black;text-decoration:none;padding-top:16px;padding-left: 16px;font-size: 40px;margin: 0 16px 0 auto;">お問い合わせ</a>
        </header>
        <main style="display: flex;justify-content: space-evenly;flex-wrap: wrap;">
            <div style="padding:9px">
                <div style="height:380px;width:200px;border-width: 1px;padding:15px;box-shadow:2px 2px 8px">
                    <img src="images/newspaper.svg" style="width:100%;height:180px">
                    <a href="live/yuta-alive" style="color:black;">
                        <span style="font-size:30px">Yuta is alive!</span><br>
                        <span style="font-size:15px">How'd he alive alone still happy?</span>
                    </a>
                    <p style="padding-top:40%;">2020/6/10</p>
                </div>
            </div>
            <div style="padding:9px">
                <div style="height:380px;width:200px;border-width: 1px;padding:15px;box-shadow:2px 2px 8px">
                    <img src="images/newspaper.svg" style="width:100%;height:180px">
                    <a href="live/yuta-alive" style="color:black;">
                        <span style="font-size:30px">Yuta is alive!</span><br>
                        <span style="font-size:15px">How'd he alive alone still happy?</span>
                    </a>
                    <p style="padding-top:40%;">2020/6/10</p>
                </div>
            </div>
        </main>
        <div style="padding:5%;background-color: #202020;padding: 0 16px 0 auto;">
            <div style="text-align: center;font-size: 20px;">
                <ul>
                    <li style="display:inline;padding:5%;margin:auto;"><a href="top">トップ</a></li>
                    <li style="display:inline;padding:5%;margin:auto;"><a href="live">生活</a></li>
                    <li style="display:inline;padding:5%;margin:auto;"><a href="travel">旅行</a></li>
                    <li style="display:inline;padding:5%;margin:auto;"><a href="otoi">お問い合わせ</a></li>
                </ul>
            </div>
            <footer style="color:white;padding-bottom:80px;">copyright©坂島 All right reserved.</footer>
        </div>
    </div>
</body>

</html>